name: named_routes
description: Add names to routes without a declarative pattern and without build_runner
version: 0.8.0
repository: https://github.com/Tienisto/named_routes

environment:
  sdk: '>=2.17.0 <3.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
